# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
.env/

# Flask configurations
instance/

# SQLite database files
*.db
*.sqlite

# IDE/Editor folders
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

#font files
styles/fonts/oldschool_pc_font_pack_v2.2_web.zip
styles/fonts/oldschool_pc_font_pack_v2.2_web/