:root { font: 100 px/1.2 "Roboto", sans-serif; } 
/* root of original tree so another way to say html*/
 
body, 
body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}