:root {
    color: aliceblue;
}

@font-face {
    font-family: 'IGS VGA 8x16';
    src: url("fonts/Web437_IGS_VGA_8x16.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cordata PCC-400';
    src: url("fonts/WebPlus_Cordata_PPC-400.woff") format('woff');
}

@font-face {
    font-family: 'Nix8810 M15';
    src: url("fonts/Web437_Nix8810_M15.woff") format('woff');
}

/* #header-sec {
    margin-top: 5%;
} */

/*TITLE*/
/*center website title "paraphernalia
it needs to target h1*/
#main-title {
    display:block;
    width: 100%;
    text-align: center;
}

/*taking precedence over the a div rule*/
#main-title a {
    color: aliceblue;
    text-decoration: none;
    font-size: 50px;
}

/* HOME NAV BAR */
#header-sec ul {
    text-align: center;
    list-style-type: none;
    padding-left: 0%; /* no idea why it was randomly adding that*/ 
    font-size: 20px;
} 

.title {
    color:blueviolet;
    text-decoration: none;
} 


/*not using this for now*/
/* div.container { /* have to define height for position:sticky to work for sidebar
    display: flex;
    /* height: 120vh;  
} */

/* main {
    flex: 1; 
    margin-left: 10px;
    padding-left: 20px;
} */

body {
    font-family: 'Nix8810 M15';    
    background-image: url("assets/space.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    
article {
    padding: 20px;
}

p {
    font-family: 'Cordata PCC-400';
}

a {
    color:rgb(180, 153, 217);
}

blockquote {
    font-family: 'Cordata PCC-400';
    font-style: italic;
}

/* sidebar */

aside {
    height: 70%; /* 70% of .container height*/
    width: 150px;
    position: absolute; /* sticks to the top of .container if you use "sticky" keyword*/
    top: 0;
    margin-top: 0px;
    padding-top: 5px;
    background-color: rgb(45, 52, 80);
}

aside div {
    padding: 8px;
    display: block; /* display one below the other */
}

footer {
    text-align: center;
}

iframe {
    margin-left:-9999 px;
    }
